 @import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Kanit:200,300,400,500,600,700,800,900&display=swap');
</style>

:root {
  --primary-color: #2C2C2C;
  --secondary-color: #6E1B28;
}

/* BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Gabarito', sans-serif;
font-family: 'Kanit', sans-serif;
  color: #AAAAAA;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: #AAAAAA
}

h2 {
  font-size: 25px;
  font-weight: 400;
  color: #AAAAAA
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
  color: #EE5B60
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 100px;
  margin-top: 60px;
}

section.home {
  flex-direction: row;
  margin-top: 0;
}

/* BUTTON */
.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  border: 0;
}

.btn:hover {
  transform: scale(0.98);
}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem;
  font-weight: 700;
  z-index: 20;
}

/* TOGGLE */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--primary-color) url(../images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: var(--primary-color) url(../images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}



/* HOMEPAGE */
.home-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
}

/* nothin‘ lol */
